<html>
   <body style bgcolor="#DFFBAD" >
    <h1> 

    welcome to the about page
    </h1>
    </head>
    
    <%= link_to 'home', root_path %>
    
     
     <p><center><font size="3" color="red">This is some text!</font>
<font size="2" color="blue">This is some text!</font>
<font face="verdana" color="green">This is some text!</font>
</center>
</p>
    
</html>